@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  --color-outlinecol: oklch(from #2d0a03 l c h);
  --color-framecol: oklch(from #ffe6c4 l c h);
  --color-framecol-dark: oklch(from #875e48 l c h);
  --color-bgcol: oklch(from #875e48 l c h);
  --color-bgcol-dark: oklch(from #48352c l c h);

  --color-textcol: oklch(from #2a0600 l c h);
  --color-textcol-dark: oklch(from #ffffff l c h);
  --color-titlecol: oklch(from #cc7600 l c h);
  --color-subtitlecol: oklch(from #ff7c66 l c h);

  --color-red: oklch(from #fe8484 l c h);
  --color-green: oklch(from #b0d94e l c h);
  --color-blue: oklch(from #4eaed9 l c h);
  --color-purple: oklch(from #7454d8 l c h);

  --color-tan: oklch(from #ffe6c4 l c h);
  --color-tan-alt: oklch(from #ffc798 l c h);
  --color-chocolate: oklch(from #875e48 l c h);
  --color-chocolate-alt: oklch(from #48352c l c h);
  --color-chocolate-deep: oklch(from #2a0600 l c h);

  --color-checker-a: oklch(from #ffe6c4 l c h);
  --color-checker-b: oklch(from #ffc3ad l c h);

  --color-checker-a-dark: oklch(from #3a2c24 l c h);
  --color-checker-b-dark: oklch(from #4d372b l c h);

  --color-twitch: oklch(from #6441a5 l c h);

  --color-highlight: oklch(from #e8972a l c h);
  --color-highlight-dark: oklch(from #2a0600 l c h);
}

@layer base {
  details > summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  button,
  [role="button"] {
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer, [integer]), auto);
}

@utility grid-rows-auto-* {
  grid-template-rows: repeat(--value(integer, [integer]), auto);
}
