@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-inherit: inherit;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  --color-gray: oklch(from #44403c l c h);
  --color-gray-50: oklch(from #fafaf9 l c h);
  --color-gray-100: oklch(from #f5f5f4 l c h);
  --color-gray-200: oklch(from #e7e5e4 l c h);
  --color-gray-300: oklch(from #d6d3d1 l c h);
  --color-gray-400: oklch(from #a8a29e l c h);
  --color-gray-500: oklch(from #78716c l c h);
  --color-gray-600: oklch(from #57534e l c h);
  --color-gray-700: oklch(from #44403c l c h);
  --color-gray-800: oklch(from #292524 l c h);
  --color-gray-900: oklch(from #1c1917 l c h);

  --color-red: oklch(from #8f3b3b l c h);
  --color-red-50: oklch(from #f3e1e1 l c h);
  --color-red-100: oklch(from #edd2d2 l c h);
  --color-red-200: oklch(from #e1b5b5 l c h);
  --color-red-300: oklch(from #d59898 l c h);
  --color-red-400: oklch(from #c97b7b l c h);
  --color-red-500: oklch(from #bd5e5e l c h);
  --color-red-600: oklch(from #ac4646 l c h);
  --color-red-700: oklch(from #8f3b3b l c h);
  --color-red-800: oklch(from #682a2a l c h);
  --color-red-900: oklch(from #401a1a l c h);

  --color-yellow: oklch(from #c1a033 l c h);
  --color-yellow-50: oklch(from #ffffff l c h);
  --color-yellow-100: oklch(from #fbf8ef l c h);
  --color-yellow-200: oklch(from #f2eacf l c h);
  --color-yellow-300: oklch(from #eadcae l c h);
  --color-yellow-400: oklch(from #e1ce8e l c h);
  --color-yellow-500: oklch(from #d8c06e l c h);
  --color-yellow-600: oklch(from #d0b24e l c h);
  --color-yellow-700: oklch(from #c1a033 l c h);
  --color-yellow-800: oklch(from #957c28 l c h);
  --color-yellow-900: oklch(from #69571c l c h);

  --color-green: oklch(from #578f3b l c h);
  --color-green-50: oklch(from #e7f3e1 l c h);
  --color-green-100: oklch(from #dbedd2 l c h);
  --color-green-200: oklch(from #c4e1b5 l c h);
  --color-green-300: oklch(from #acd598 l c h);
  --color-green-400: oklch(from #95c97b l c h);
  --color-green-500: oklch(from #7ebd5e l c h);
  --color-green-600: oklch(from #68ac46 l c h);
  --color-green-700: oklch(from #578f3b l c h);
  --color-green-800: oklch(from #3f682a l c h);
  --color-green-900: oklch(from #27401a l c h);

  --color-blue: oklch(from #3b5a8f l c h);
  --color-blue-50: oklch(from #e1e7f3 l c h);
  --color-blue-100: oklch(from #d2dced l c h);
  --color-blue-200: oklch(from #b5c5e1 l c h);
  --color-blue-300: oklch(from #98aed5 l c h);
  --color-blue-400: oklch(from #7b98c9 l c h);
  --color-blue-500: oklch(from #5e81bd l c h);
  --color-blue-600: oklch(from #466cac l c h);
  --color-blue-700: oklch(from #3b5a8f l c h);
  --color-blue-800: oklch(from #2a4168 l c h);
  --color-blue-900: oklch(from #1a2840 l c h);

  --color-pink: oklch(from #ec4899 l c h);
  --color-pink-50: oklch(from #fdeef6 l c h);
  --color-pink-100: oklch(from #fbdceb l c h);
  --color-pink-200: oklch(from #f8b7d7 l c h);
  --color-pink-300: oklch(from #f492c2 l c h);
  --color-pink-400: oklch(from #f06dae l c h);
  --color-pink-500: oklch(from #ec4899 l c h);
  --color-pink-600: oklch(from #e4187d l c h);
  --color-pink-700: oklch(from #b11261 l c h);
  --color-pink-800: oklch(from #7f0d45 l c h);
  --color-pink-900: oklch(from #4c0829 l c h);

  --color-fs-tan: oklch(from #ffe6c4 l c h);
  --color-fs-tan-50: oklch(from #fff4e5 l c h);
  --color-fs-tan-100: oklch(from #ffe9cc l c h);
  --color-fs-tan-200: oklch(from #ffd499 l c h);
  --color-fs-tan-300: oklch(from #ffbe66 l c h);
  --color-fs-tan-400: oklch(from #ffa933 l c h);
  --color-fs-tan-500: oklch(from #ff9300 l c h);
  --color-fs-tan-600: oklch(from #cc7600 l c h);
  --color-fs-tan-700: oklch(from #995800 l c h);
  --color-fs-tan-800: oklch(from #663b00 l c h);
  --color-fs-tan-900: oklch(from #331d00 l c h);

  --color-fs-pink: oklch(from #ffc9b1 l c h);
  --color-fs-pink-50: oklch(from #ffede5 l c h);
  --color-fs-pink-100: oklch(from #ffdccc l c h);
  --color-fs-pink-200: oklch(from #ffb899 l c h);
  --color-fs-pink-300: oklch(from #ff9566 l c h);
  --color-fs-pink-400: oklch(from #ff7233 l c h);
  --color-fs-pink-500: oklch(from #ff4e00 l c h);
  --color-fs-pink-600: oklch(from #cc3f00 l c h);
  --color-fs-pink-700: oklch(from #992f00 l c h);
  --color-fs-pink-800: oklch(from #661f00 l c h);
  --color-fs-pink-900: oklch(from #331000 l c h);

  --color-fs-black: oklch(from #2a0600 l c h);
  --color-fs-black-50: oklch(from #ffe9e5 l c h);
  --color-fs-black-100: oklch(from #ffd3cc l c h);
  --color-fs-black-200: oklch(from #ffa899 l c h);
  --color-fs-black-300: oklch(from #ff7c66 l c h);
  --color-fs-black-400: oklch(from #ff5033 l c h);
  --color-fs-black-500: oklch(from #ff2400 l c h);
  --color-fs-black-600: oklch(from #cc1d00 l c h);
  --color-fs-black-700: oklch(from #991600 l c h);
  --color-fs-black-800: oklch(from #660f00 l c h);
  --color-fs-black-900: oklch(from #330700 l c h);

  --color-fall: oklch(from #834a26 l c h);

  --color-carnival: oklch(from #4e1362 l c h);
  --color-carnival-700: oklch(from #390e47 l c h);
  --color-carnival-800: oklch(from #28122f l c h);

  --color-twitch: oklch(from #6441a5 l c h);

  --color-highlight: oklch(from #e8972a l c h);
  --color-highlight-dark: oklch(from #2a0600 l c h);
}

@layer base {
  details > summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  button,
  [role="button"] {
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer, [integer]), auto);
}

@utility grid-rows-auto-* {
  grid-template-rows: repeat(--value(integer, [integer]), auto);
}
